# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.env
.gitignore

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Mypy / Type checking
.mypy_cache/
.dmypy.json
.dmypy/
.pytype/

# Django stuff
*.log
local_settings.py
.db.sqlite3
/db.sqlite3
media/
staticfiles/
collectstatic/

# Environments
.env
.env.*
*.env
.venv
venv/
ENV/
env/

# IDEs / Editors
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temporary files
*.tmp
*.temp

# SQLite write-ahead logs
*.sqlite3
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal
